
body {
  background-color: lightblue;
}
content: 
h1 {
  color: black;
  text-align: left;
  margin: 20px
}

p {
  font-family: 'Vibes', cursive;
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 25px;
  margin: 25px

}
img {
	margin: 20px;
	border: 2px solid #021a40
}
img.foto1 {
	float: left;
}
img.foto2 {
	float: right;
}
img.foto3 {
	float: left;
}